########################################
#Controller Fan
########################################
[controller_fan 8038fan]
pin: PF9
stepper: stepper_x, stepper_y, stepper_y1, stepper_z
cycle_time: 0.00004
off_below: 0.1
max_power: 0.5

[controller_fan 8038fan1]
pin: PF6
stepper: stepper_x, stepper_y, stepper_y1, stepper_z
off_below: 0.1
max_power: 0.5