########################################
# Door Lock
########################################

[output_pin door_lock_pin]
pin: PA5
pwm: False
value: 0
shutdown_value : 0

[gcode_macro DoorToggle]
gcode:
    {% if printer.save_variables.variables.door_status == 1 %}
        M514 S0
    {% elif printer.save_variables.variables.door_status == 0 %}
        M514 S1
    {% endif %}

[gcode_macro M514]
gcode:
    {% if params.S == '0' %}
        SET_PIN PIN=door_lock_pin VALUE=0
        RESPOND TYPE=echo MSG="Door Open"
        SAVE_VARIABLE VARIABLE=door_status VALUE=0
    {% endif %}
    
    {% if params.S == '1' %}
        SET_PIN PIN=door_lock_pin VALUE=1
        RESPOND TYPE=echo MSG="Door Closed"
        SAVE_VARIABLE VARIABLE=door_status VALUE=1
    {% endif %}

[gcode_macro Door_Status]
gcode:
 RESPOND TYPE=echo MSG="{printer.save_variables.variables.door_status}"