########################################
# printer.cfg
# Main configuration used by klipper. 
# This is the only file to be modified for 
# every printer variant/SKU
# Author: Vijay Raghav Varada
# Version: 3.8
########################################


########################################
# Include .cfg Files
# Order in which files included is important
# for function overrides & references downstream
########################################

########################################
# Select Any One Printer Configuration
#[include PRINTER_TWINDRAGON_600x300.cfg]
#[include PRINTER_TWINDRAGON_600_V1.cfg]
#[include PRINTER_TWINDRAGON_600_V2.cfg]
#[include PRINTER_TWINDRAGON_400_V1.cfg]
#[include PRINTER_TWINDRAGON_400_V2.cfg]
#[include PRINTER_TWINDRAGON_300.cfg]
[include PRINTER_DRAGON_400.cfg]
#[include PRINTER_DRAGON_500.cfg]
#[include PRINTER_DRAGON_700.cfg]
########################################

########################################
# MCU Config
########################################

[mcu]
canbus_uuid: XXXXXXXXXXX

[mcu toolhead0]
canbus_uuid: XXXXXXXXXXX

[mcu toolhead1]
canbus_uuid: XXXXXXXXXXX


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -0.15