########################################
# FILAMENT_SENSOR.cfg
# Common Filament Sensor related Configuration for all printer variants
# Author: Vijay Raghav Varada
# Version: 1
########################################

########################################
# Filament Sensor Hardware Configuration
########################################

[filament_switch_sensor switch_sensor_T0]  
switch_pin: ^PF4 
pause_on_runout: False #False 
runout_gcode: 
    {% if printer.toolhead.homed_axes == "xyz" and printer.toolhead.extruder == "extruder" %}
        RESPOND TYPE=echo MSG="Filament Runout detected on T0"
    {% endif %}
insert_gcode: 
    RESPOND TYPE=echo MSG="Filament inserted on T0"

    
[delayed_gcode SET_T0_FILAMENT_RUNOUT_SENSOR_STARTUP]
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=switch_sensor_T0 ENABLE=0
