########################################
# FILAMENT_SENSOR.cfg
# Common Filament Sensor related Configuration for all printer variants
# Author: Vijay Raghav Varada
# Version: 1
########################################

########################################
# Filament Sensor Hardware Configuration
########################################

[filament_motion_sensor encoder_sensor_T1]  
switch_pin: ^PC15 
detection_length: 12 #2.88 # accuracy of motion sensor 2.88mm 
extruder: extruder1  
pause_on_runout: False #False 
runout_gcode: 
    {% if printer.toolhead.homed_axes == "xyz" and printer.toolhead.extruder == "extruder1" %}
        RESPOND TYPE=echo MSG="Filament Jam Detected on T1"
    {% endif %}


[delayed_gcode SET_T1_FILAMENT_JAM_SENSOR_STARTUP]
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor_T1 ENABLE=0
