########################################
# FILAMENT_SENSOR.cfg
# Common Filament Sensor related Configuration for all printer variants
# Author: Vijay Raghav Varada
# Version: 1
########################################

########################################
# Filament Sensor Hardware Configuration
########################################

[filament_switch_sensor switch_sensor_T1]  
switch_pin: ^PF0
pause_on_runout: False #False 
runout_gcode: 
    {% if printer.toolhead.homed_axes == "xyz" and printer.toolhead.extruder == "extruder1" %}
        RESPOND TYPE=echo MSG="Filament Runout detected on T1"
    {% endif %}
insert_gcode: 
    RESPOND TYPE=echo MSG="Filament inserted on T1"


[delayed_gcode SET_T1_FILAMENT_RUNOUT_SENSOR_STARTUP]
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=switch_sensor_T1 ENABLE=0
